root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.cs]
file_scoped_namespace = true
dotnet_diagnostic.CA1707.severity = none

[*.{csproj,yml,yaml}]
indent_size = 2
